.DS_Store
.dockerignore
.git
.gitignore
.classpath
.project
.env
.idea
.settings
.idea
.ipynb_checkpoints
**/target
**/*.log
**/*.log.*
**/*.iml
**/*-checkpoint.ipynb
**/overlays
serialization*/*
etc/cas-local.properties
Dockerfile